.navbar{
    background-color:#3787c2;
    height: 80px;
    width: 100;
    top: 0;
    margin: 0;
    
}

.navbar h1 {
    float: left;
    margin-left: 40px;
    font-family: freightsans;
    font-weight: 600;
    
}

.navbar nav {
    float:right;
    top: 0px;
    margin-right: 40px;
    font-family: freightsans;
    font-weight: 200;
    text-decoration: none;
}

.navbar nav ul{
    float: right;
    top: 0;
    margin-right: 40px;
    
}

.navbar nav ul li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 400;
}


h1 {
    font-family: freightsans;
    text-align: left;
    font-style: bold;
    font-size: 50;
    color: #ffffff;
}

h2 { font-family: freightsans;
    text-align: left;
    font-style: bold;
    font-size: 75;
    color: #3787c2;
    
}

p1{
    text-align: center;
    font-family: freightsans;
    color: #3787c2;
    font-size: 20px;
}


#centertext {
            margin-left: auto;
            margin-right:auto;
            width: 500px;
}

footer{ 
 background-color: #3787c2;
    height: 200px;
    font-family: freightsans;
    font-size: 20px;
    font-style: bold;
    color: #ffffff;
    text-align: center;
    height: 200px;
    text-decoration: none;
    padding-top: 50px;
}