h1{font-family: freightsans;
    text-align: left;
    padding: 25px;
    font-style: bold;
    font-size: 50;
    color: #ffffff;
    
}

#title{
        float:left;
    
}

.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 25px;
     text-decoration: none;
     text-align: right;
    color: #ffffff;
    top: 0px;
    float: right;
    }


nav { text-align: center;
    background-color: #3787c2;
    font-family: freightsans;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    }


nav a {
    text-decoration: none;
}


    
}

p1 { text-align: right;
    padding-right: 300px;
    font-family: freightsans;
    color: #3787c2;
    
}

p2 {text-align: center;
    color: #ffffff;
    font-family: freightsans;
    font-size: 20px;
}


p3{
    text-align: left;
    color: #3787c2;
    font-family: freightsans;
    font-size: 20px;
}



h4 {
    font-family: freightsans;
    text-align: right;
    font-size: 35px;
    color: #3787c2;
    border-right: 200px;
    }

h3 {
    font-family: freightsans;
    text-align: center;
    font-size: 35px;
    color: #ffffff;
}


h2{ 
    font-family: freightsans;
    text-align: center;
    color: #ffffff;
    }


section1 {
    display: block;
    background-color: #ffffff;
    padding-top: 250px;
    padding-bottom: 250px;
}

section2 {
    display: block;
    background-color: #f15e60;
    padding-top: 250px;
    padding-top: 250px;
}

section3 {
    display: block;
    background-color: #3787c2;
    padding-top: 250px;
    padding-bottom: 250px;
}

section4 {
    display: block;
    background-color: #ffffff;
    padding-top: 250px;
    padding-bottom: 250px;
}

section5 {
    display: block;
    background-color: #5fc08a;
    padding-top: 250px;
    padding-bottom: 250px;
}

footer{ 
 background-color: #3787c2;
    height: 200px;
}