h1{font-family: freightsans;
    text-align: left;
    padding: 25px;
    font-style: bold;
    font-size: 50;
    color: #ffffff;
    
}

nav{ text-align: center;
    background-color: #3787c2;
    font-family: freightsans;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
       
}


nav a {
    text-decoration: none;
}


p{ text-align: left;
    padding-right: 300px;
    font-family: freightsans;
    
}



h4 {
    font-family: freightsans;
    text-align: right;
    font-size: 45px;
    }

.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
     text-decoration: none;
     text-align: right;
    float: center;
    
  }

section1 {
    display: block;
    background-color: #ffffff;
    padding-top: 250px;
    padding-bottom: 250px;
}

section2 {
    display: block;
    background-color: #f15e60;
    padding-top: 250px;
    padding-top: 250px;
}

footer{ 
 background-color: #3787c2;}