h1{font-family: freightsans;
    text-align: left;
    padding: 25px;
    font-style: bold;
    font-size: 50;
    color: #ffffff;
    
}

nav{ text-align: center;
    background-color: #3787c2;
    font-family: freightsans;
    
    
}

p{ text-align: left;
    padding-right: 300px;
    

}